[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"
 
[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
opencv-python = "*"
pandas = "*"
pyparrot = {editable = true, path = "./pyparrot"}
untangle = "*"
zeroconf = "*"
ffmpeg = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.5"
